*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Roboto", sans-serif;

  line-height: 1.2;
  letter-spacing: 0em;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
object,
embed,
video,
iframe {
  max-width: 100%;
  height: auto;
}
/*iframe,['style']{
    max-width: 100%;
    height: auto;
}*/

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
html,
body {
  max-width: 100vw;
  background-color: var(--background);
}
fieldset {
  border: 0;
}
input,
select,
textarea {
  padding: 10px;
  width: 100%;
}
input.btn {
  width: auto;
  cursor: pointer;
}
