:root {
  --bg-light: #ffffff;
  --clear: #fbfbfb;
  --black: #0e0e11;
  --bg-dark: #0f121b;
  --grey: #242424;
  --soft-grey: #b8b8c0;
  --light-grey: #d9d9d9;
  --primary-color: #2ed8c3;
  --secondary-color: #1fa89a;
  --tertiary-color: #37f8e2;

  --maxlarge: 3rem;
  --mega: 2.5rem;
  --large: 2rem;
  --full: 1.5rem;
  --medium: 1.2rem;
  --regular: 1rem;
  --small: 0.875rem;
  --very-small: 0.8rem;
}
